<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcoursmobile_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_donate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_donate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Poor_2" android:parentActivityName=".Poor_1"></activity>
        <activity android:name=".Poor_1" android:parentActivityName=".MainActivity"/> <!-- tous les acts => noActionBar -->
        <activity android:name=".MainActivity" android:theme="@style/NoActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>